html
    font-family: sans-serif
    background-color: #F9F7F5

.App
    display: flex
    flex-direction: column
    align-items: center

    > div
        max-width: 755px
        padding-left: 2rem
        padding-right: 2rem
        margin-top: 3.5rem
        box-sizing: border-box

.heading
    font-size: 1.7rem
    margin-bottom: 0.5rem
    // text-decoration: underline

.button
    text-align: center
    padding: 0.2em 0.5em
    box-shadow: 0 0 0 2px black
    transition: box-shadow 0.1s ease-out
    user-select: none

    &:hover
        cursor: pointer
        color: inherit
        box-shadow: 0 0 0 4px black

    &:active
        background-color: lightgray
        box-shadow: 0 0 0 4px #4b95eb

.footer 
    font-size: 0.8rem
    padding-top: 2.5rem

.resumeHeader
    margin-top: 0 !important
    display: flex
    justify-content: center

.resumeHeaderLink
    text-decoration: none
    color: inherit
    margin: 1rem 1rem

br
    content: ""
    display: block
    margin-top: 0.5em

p
    margin: 0
    line-height: 1.2

a
  color: #4b95eb

  &:focus, &:active
    color: #4b95eb

  &:hover
    color: gray

@keyframes slideUp
    0% 
        opacity: 0
        transform: translateY(0.8em)
    
    100% 
        opacity: 1
        transform: translateY(0)