.contactCtn
    width: 100%

#contact-form
    display: flex

.submit
    display: block
    width: 4em
    text-align: center
    padding: 0.2em 0.5em
    border: solid 2px black

    &:hover
        cursor: pointer
        box-shadow: 0 0 0 4px black

    &:active
        background-color: lightgray
        box-shadow: 0 0 0 4px #4b95eb

#messageArea
    height: 5em

.border
    border: solid 2px black