.contactCtn
    width: 100%

.contact-right
    margin-left: 2em

    > div
        margin-bottom: 0.5em

#contact-form
    display: flex

.submit
    display: block
    width: 4em
    text-align: center
    padding: 0.2em 0.5em
    border: solid 2px black

    &:hover
        cursor: pointer
        box-shadow: 0 0 0 3px black

    &:active
        background-color: lightgray
        box-shadow: 0 0 0 3px #4b95eb

.contactForm, .contactPrompt
    margin-top: 1em

#messageArea
    height: 7em

.border
    border: solid 2px black